@using Modum.Models.BaseModels.Models.LTCs;
@using Modum.Web.Models.Models.Pagination;
@model PaginatedList<LTC>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    Layout = "~/Views/Shared/_WorkerLayout.cshtml";
}

<div class="manage-ltcs">
    <div id="ltcTableContainer" class="pt-3">
        <div class="d-flex justify-content-center">
            <div class="display-4 py-3 text-center col">
                Limited Time Campaign Manage Menu
            </div>
        </div>
        <div class="d-flex pt-5">
            <a class="col btn btn-purple text-white" asp-action="AddALTC" style="font-size:1.5em">Add a Limited Time Campaign</a>
        </div>
        <div id="ltc-filtering" class="d-flex pt-4 pb-4 justify-content-center">
            <div class="col-12 col-lg-6">
                <form asp-action="ManageLTCs" method="get">
                    <div class="form-actions no-color container">
                        <div class="h3 d-flex py-3 align-items-center justify-content-center" style="font-weight:400">
                            Find by LTC's name:
                        </div>
                        <div class="py-1">
                            <input type="text" name="SearchString" class="form-control" value="@ViewData["CurrentFilter"]" />
                        </div>
                        <div class="py-3 row justify-content-around">
                            <input type="submit" value="Search" class="btn btn-dark search-btn" style="font-size:1.4em;" />
                            <a class="btn btn-danger clear-btn" asp-action="ManageLTCs" style="font-size:1.4em;">Clear</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <table class="table table-striped">
            <thead>
                <tr class="header-row">
                    <th>Title</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Title</td>
                        <td>@item.StartDate</td>
                        <td>@item.EndDate</td>
                        <td>
                            <button class="btn btn-warning redirect-to-edit-page" id="@item.Id">Edit</button>
                            <button class="btn btn-danger delete" id="@item.Id">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

</div>

