@using Modum.Models.MainModel;
@model Worker
@{
    Layout = "~/Views/Shared/_WorkerLayout.cshtml";
}
<div class="edit-worker-information-page">
    <div class="container pt-5">
        @if (Model != null)
        {
            <div class="display-4 py-3 text-center col">
                Edit Worker Information For
            </div>
                <br />
            <div class="row h4 justify-content-center">
                @Model.AppUser.FirstName @Model.AppUser.LastName
            </div>
            <hr />

            <form method="post" asp-action="EditInformationForWorker" asp-controller="Admin">                                                                                                                                                                                                                 
                <div class="form-group row">
                    <label for="Position" class="col-sm-2 col-form-label">Position:</label>
                    <div class="col-sm-10">
                        <input asp-for="Position" class="form-control" value="@Model.Position" required />
                    </div>
                </div>

                <div class="form-group row">
                    <label for="Salary" class="col-sm-2 col-form-label">Salary:</label>
                    <div class="col-sm-10">
                        <input asp-for="Salary" class="form-control" value="@Model.Salary" required />
                    </div>
                </div>

                <div class="form-group row">
                    <label for="Bonus" class="col-sm-2 col-form-label">Bonus:</label>
                    <div class="col-sm-10">
                        <input asp-for="Bonus" class="form-control" value="@Model.Bonus" required />
                    </div>
                </div>

                <div class="form-group row">
                    <label for="TimeSinceJoiningTheCompany" class="col-sm-2 col-form-label">Joining Date:</label>
                    <div class="col-sm-10">
                        <input asp-for="TimeSinceJoiningTheCompany" class="form-control" type="date" value="@Model.TimeSinceJoiningTheCompany.ToString("yyyy-MM-dd")" required />
                    </div>
                </div>

                <div class="form-group row">
                    <label for="TimeSinceChangingThePosition" class="col-sm-2 col-form-label">Change Position Date:</label>
                    <div class="col-sm-10">
                        <input asp-for="TimeSinceChangingThePosition" class="form-control" type="date" value="@Model.TimeSinceChangingThePosition.ToString("yyyy-MM-dd")" required />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-10 offset-sm-2">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        }
        else
        {
            <div class="row justify-content-center h4">No such worker</div>
        }
    </div>
</div>