@using Microsoft.AspNetCore.Identity;
@using Modum.DataAccess.MainModel;
@using Modum.Web.Models.Models.Pagination;
@inject UserManager<ApplicationUser> UserManager
@model PaginatedList<Worker>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="manage-workers">
    <div id="worker-filtering" class="d-flex pt-4 pb-4 justify-content-center">
        <form asp-action="ManageWorkers" method="get">
            <div class="form-actions no-color row">
                <div class="h5 row p-0 m-0 pr-2 align-items-center pl-2 pb-1" style="font-weight:400">
                    Find by User name:
                </div>
                <div class="">
                    <input type="text" name="SearchString" class="form-control" value="@ViewData["CurrentFilter"]" />
                </div>
                <div class="pl-3">
                    <input type="submit" value="Search" class="btn btn-dark" /> |
                    <a class="btn btn-danger" asp-action="ManageWorkers">Clear</a>
                </div>
            </div>
        </form>
    </div>
    <div id="workers-section">
        <table class="table table-striped" border="1">
            <thead>
                <tr class="header-row">
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Position</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var worker in Model)
                {
                    <tr>
                        <td>@worker.User.FirstName</td>
                        <td>@worker.User.LastName</td>
                        <td>@worker.User.Email</td>
                        <td>@worker.Position</td>
                        <td><button class="btn btn-warning additional-btn" href="~/Admin/EditWorkerInformation?userId=@worker.User.Id">Additional Information</button></td>
                    </tr>
                }
            </tbody>
        </table>
        <div>
            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }

            <a asp-action="ManageWorkers" asp-route-page="@(Model.PageIndex - 1)" class="btn btn-default @(Model.HasPreviousPage ? "" : "disabled")">Previous</a>
            <a asp-action="ManageWorkers" asp-route-page="@(Model.PageIndex + 1)" class="btn btn-default @(Model.HasNextPage ? "" : "disabled")">Next</a>

        </div>
    </div>
</div>