@page
@using Modum.DataAccess.MainModel;
@model RegisterModel
@inject SignInManager<ApplicationUser> SignInManager

@section Styles {
    <link href="@Url.Content("~/css/custom/IdentityStructure.css")" rel="stylesheet" type="text/css" />
}
<style>
    main{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1021%26quot%3b)' fill='none'%3e%3cpath d='M1116.46 222.95 a22.63 22.63 0 1 0 45.26 0 a22.63 22.63 0 1 0 -45.26 0z' fill='rgba(113%2c 137%2c 171%2c 1)'%3e%3c/path%3e%3cpath d='M1182.38 359.05a22.34 22.34 0 1 0-18.67 40.59z' fill='rgba(113%2c 137%2c 171%2c 1)'%3e%3c/path%3e%3cpath d='M18.11 15.21L57.56 15.21L57.56 38.15L18.11 38.15z' stroke='rgba(134%2c 182%2c 73%2c 1)'%3e%3c/path%3e%3cpath d='M1406.48 79.32L1447.57 79.32L1447.57 120.41L1406.48 120.41z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1080.16 453.5 a34.51 34.51 0 1 0 69.02 0 a34.51 34.51 0 1 0 -69.02 0z' fill='rgba(134%2c 182%2c 73%2c 1)'%3e%3c/path%3e%3cpath d='M926.82 115.22 a51.69 51.69 0 1 0 103.38 0 a51.69 51.69 0 1 0 -103.38 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M868.86 220.84 a33.64 33.64 0 1 0 67.28 0 a33.64 33.64 0 1 0 -67.28 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1320.23 350.48L1340.93 350.48L1340.93 385.45L1320.23 385.45z' stroke='rgba(134%2c 182%2c 73%2c 1)'%3e%3c/path%3e%3cpath d='M546.57 38.08a47.53 47.53 0 1 0-47.79 82.18z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1021.52 548.97L1030.67 548.97L1030.67 558.12L1021.52 558.12z' fill='rgba(113%2c 137%2c 171%2c 1)'%3e%3c/path%3e%3cpath d='M147.5 151L195.92 151L195.92 174.98L147.5 174.98z' stroke='rgba(134%2c 182%2c 73%2c 1)'%3e%3c/path%3e%3cpath d='M153.11 84.82L169.84 84.82L169.84 101.55L153.11 101.55z' fill='rgba(134%2c 182%2c 73%2c 1)'%3e%3c/path%3e%3cpath d='M281.12 310.54 a50.65 50.65 0 1 0 101.3 0 a50.65 50.65 0 1 0 -101.3 0z' stroke='rgba(113%2c 137%2c 171%2c 1)'%3e%3c/path%3e%3cpath d='M391.86 132.23 a35.07 35.07 0 1 0 70.14 0 a35.07 35.07 0 1 0 -70.14 0z' stroke='rgba(134%2c 182%2c 73%2c 1)'%3e%3c/path%3e%3cpath d='M217 407.19a20.5 20.5 0 1 0 34.18 22.64z' stroke='rgba(113%2c 137%2c 171%2c 1)'%3e%3c/path%3e%3cpath d='M993.37 117.77a8.68 8.68 0 1 0-1.7-17.28z' stroke='rgba(134%2c 182%2c 73%2c 1)'%3e%3c/path%3e%3cpath d='M676.56 117.37L687.71 117.37L687.71 135.51L676.56 135.51z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M90.69 451.01a42.04 42.04 0 1 0 61.46 57.38z' stroke='rgba(113%2c 137%2c 171%2c 1)'%3e%3c/path%3e%3cpath d='M1124.43 94.42L1130.92 94.42L1130.92 100.91L1124.43 100.91z' fill='rgba(113%2c 137%2c 171%2c 1)'%3e%3c/path%3e%3cpath d='M862.99 122.52a16.08 16.08 0 1 0-21.81 23.63z' fill='rgba(134%2c 182%2c 73%2c 1)'%3e%3c/path%3e%3cpath d='M650.75 40.59L704.67 40.59L704.67 94.51L650.75 94.51z' fill='rgba(113%2c 137%2c 171%2c 1)'%3e%3c/path%3e%3cpath d='M744.26 329.08a11.39 11.39 0 1 0 20.51-9.92z' stroke='rgba(134%2c 182%2c 73%2c 1)'%3e%3c/path%3e%3cpath d='M1234.78 471.21L1240.69 471.21L1240.69 477.12L1234.78 477.12z' stroke='rgba(113%2c 137%2c 171%2c 1)'%3e%3c/path%3e%3cpath d='M46.65 118.82L53.22 118.82L53.22 125.39L46.65 125.39z' fill='rgba(113%2c 137%2c 171%2c 1)'%3e%3c/path%3e%3cpath d='M1135.28 27.07L1141.64 27.07L1141.64 64.37L1135.28 64.37z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M163.47 148.23L185.65 148.23L185.65 161.56L163.47 161.56z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M82.98 203.92a39.97 39.97 0 1 0-31.65-73.41z' stroke='rgba(134%2c 182%2c 73%2c 1)'%3e%3c/path%3e%3cpath d='M552.96 424.75L593 424.75L593 464.79L552.96 464.79z' fill='rgba(134%2c 182%2c 73%2c 1)'%3e%3c/path%3e%3cpath d='M1193.45 353.05L1206.91 353.05L1206.91 399.76L1193.45 399.76z' stroke='rgba(134%2c 182%2c 73%2c 1)'%3e%3c/path%3e%3cpath d='M994.76 10.75L1015.1 10.75L1015.1 34.22L994.76 34.22z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1419.56 13.11L1421.96 13.11L1421.96 15.51L1419.56 15.51z' fill='rgba(113%2c 137%2c 171%2c 1)'%3e%3c/path%3e%3cpath d='M423.2 284.68L478.41 284.68L478.41 332.71L423.2 332.71z' fill='rgba(134%2c 182%2c 73%2c 1)'%3e%3c/path%3e%3cpath d='M212.74 432.21 a19.53 19.53 0 1 0 39.06 0 a19.53 19.53 0 1 0 -39.06 0z' fill='rgba(134%2c 182%2c 73%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1021'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    }
</style>
<div class="register-page">
    <div class="container py-4">
        <div class="row justify-content-around align-items-center" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); background:white;">
            <div class="col-md-5">
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="p-2">
                    <h2 class="d-flex align-items-center justify-content-center pt-4">Create a new account.</h2>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                    <div class="custom-input-group">
                        <input asp-for="Input.Email" class="custom-input" autocomplete="username" aria-required="true" required>
                        <span class="custom-highlight"></span>
                        <span class="custom-bar"></span>
                        <label class="custom-label">Email</label>
                    </div>
                    <div class="custom-input-group">
                        <i id="togglePassword" class="far fa-eye position-absolute end-0 top-50 translate-middle-y p-4 user-select-none" style="cursor:pointer"></i>
                        <input asp-for="Input.Password" class="custom-input" id="custom-password-eye-orienter" autocomplete="current-password" aria-required="true" required>
                        <span class="custom-highlight"></span>
                        <span class="custom-bar"></span>
                        <label class="custom-label">Password</label>
                    </div>
                    <div class="custom-input-group">
                        <i id="toggleConfirmPassword" class="far fa-eye position-absolute end-0 top-50 translate-middle-y p-4 user-select-none" style="cursor:pointer"></i>
                        <input asp-for="Input.ConfirmPassword" class="custom-input" id="custom-confirm-password-eye-orienter" autocomplete="current-password" aria-required="true" required>
                        <span class="custom-highlight"></span>
                        <span class="custom-bar"></span>
                        <label class="custom-label">Confirm Password</label>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="custom-input-group">
                                <input asp-for="Input.FirstName" class="custom-input" aria-required="true" required>
                                <span class="custom-highlight"></span>
                                <span class="custom-bar"></span>
                                <label class="custom-label">First Name</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="custom-input-group">
                                <input asp-for="Input.LastName" class="custom-input" aria-required="true" required>
                                <span class="custom-highlight"></span>
                                <span class="custom-bar"></span>
                                <label class="custom-label">Last Name</label>
                            </div>
                        </div>
                    </div>
                    <div class="row pb-5">
                        <div class="col">
                            <div class="custom-input-group">
                                <input asp-for="Input.Country" class="custom-input" aria-required="true" required>
                                <span class="custom-highlight"></span>
                                <span class="custom-bar"></span>
                                <label class="custom-label">Country</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="custom-input-group">
                                <input asp-for="Input.BirthDate" class="custom-input birthdate" aria-required="true" required type="date" id="birthdate-input">
                                <span class="custom-highlight"></span>
                                <span class="custom-bar"></span>
                                <label class="custom-label" for="birthdate-input">Birth Date</label>
                            </div>
                        </div>

                    </div>

                    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-for-entering">Register</button>
                    <div class="col-md-6 offset-md-3">
                        <br />
                        <h5 class="text-center">Already a member:</h5>
                        <p class="text-center">
                            <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Use your account</a>
                        </p>
                    </div>
                </form>
                <br />
                <section class="pb-4">
                    <h3 class="d-flex align-items-center justify-content-center">Register with:</h3>
                    <hr />

                    @{
                        var providers = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                        var googleProvider = providers.Find(prov => prov.Name == "Google");
                        var facebookProvider = providers.Find(prov => prov.Name == "Facebook");

                        var google = googleProvider?.Name ?? "";
                        var facebook = facebookProvider?.Name ?? "";

                    }
                    <form asp-area="Identity" asp-page="/Account/ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                        <div class="row-fluid d-flex justify-content-around">

                            <div class="facebook-button col-5">
                                <input type="submit" value="@facebook" name="provider" hidden id="facebookInput" />
                                <a class="btn btn-facebook w-100" id="facebookLink">
                                    <span>
                                        <svg width="32" height="32" viewBox="0 0 18 18" class="svg-wrapper--8ky9e">
                                            <path d="M2.425 0A2.425 2.425 0 0 0 0 2.425v13.15A2.425 2.425 0 0 0 2.425 18H8.91l.012-6.432H7.25a.394.394 0 0 1-.394-.393l-.008-2.074c0-.218.176-.395.394-.395h1.669V6.702c0-2.325 1.42-3.59 3.493-3.59h1.702c.218 0 .395.176.395.394v1.748a.394.394 0 0 1-.394.394h-1.045c-1.128 0-1.346.537-1.346 1.323v1.735h2.478c.236 0 .42.206.392.44l-.246 2.074a.394.394 0 0 1-.392.348h-2.221L11.716 18h3.858A2.426 2.426 0 0 0 18 15.575V2.425A2.425 2.425 0 0 0 15.574 0H2.425z" fill="#FFF" fill-rule="evenodd"></path>
                                        </svg>
                                    </span>
                                </a>
                            </div>

                            <div class="google-button col-5">
                                <input type="submit" value="@google" name="provider" hidden id="googleInput" />
                                <a class="btn btn-google w-100" id="googleLink">
                                    <span>
                                        <svg viewBox="0 0 48 48" width="32" height="32" class="svg-wrapper--8ky9e">
                                            <defs>
                                                <path id="google-icon_svg__a" d="M44.5 20H24v8.5h11.8C34.7 33.9 30.1 37 24 37c-7.2 0-13-5.8-13-13s5.8-13 13-13c3.1 0 5.9 1.1 8.1 2.9l6.4-6.4C34.6 4.1 29.6 2 24 2 11.8 2 2 11.8 2 24s9.8 22 22 22c11 0 21-8 21-22 0-1.3-.2-2.7-.5-4z"></path>
                                            </defs>
                                            <clipPath id="google-icon_svg__b">
                                                <use xlink:href="#google-icon_svg__a" overflow="visible"></use>
                                            </clipPath>
                                            <path clip-path="url(#google-icon_svg__b)" fill="#FBBC05" d="M0 37V11l17 13z"></path>
                                            <path clip-path="url(#google-icon_svg__b)" fill="#EA4335" d="M0 11l17 13 7-6.1L48 14V0H0z"></path>
                                            <path clip-path="url(#google-icon_svg__b)" fill="#34A853" d="M0 37l30-23 7.9 1L48 0v48H0z"></path>
                                            <path clip-path="url(#google-icon_svg__b)" fill="#4285F4" d="M48 48L17 24l-4-3 35-10z"></path>
                                        </svg>
                                    </span>
                                </a>
                            </div>

                        </div>
                    </form>

                </section>
            </div>
            <div class="col-md-5">
                <img src="~/clothes-shop/images/others/register-page-model-image.png" class="w-100" />
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
